@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    
}
#header{
    display: flex;
    align-items: center;
    padding: 20px 80px;
    justify-content: space-between;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #1a1a1a;
}
#navbar li a:hover,
#navbar li a.active
{
    color: #088178;
}
#navbar li a:hover::after,
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
h1{
    font-size: 58px;
    font-weight: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    font-weight: 54px;
    color: #222;
}
h4{
    font-size: 20px;
  
    color: #222;
}
h6{  
    font-weight: 700;
     font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 30px 0;
}
#hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    padding: 0 80px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}
#hero h1{
    color: #088178;
}
#hero h4{
    padding-bottom: 15px;
}
#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}
.section-p1{
    padding: 40px 80px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
   
    text-align: center;
    padding: 25px 15px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border-radius: 4px;
    /* margin-bottom: 15px 0; */
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 7px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background: #fddde4;
}
#product1{
    text-align: center;

}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    position: relative;
    margin: 15px 0;
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    color: rgb(243,181,25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    color: #088178;
    font-size: 15px;
    font-weight: 700;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    border: 1px solid #cce7d0;
    position: absolute;
    color: #088178;
    background: #e8f6ea;
    font-size: 16px;
    font-weight: 500;
    bottom: 20px;
    right: 10px;

}
.section-m1{
    margin: 40px 0;
}
#banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/banner/b2.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
}
#banner h4{
    font-size: 16px;
    color: #fff;
}
#banner h2{
    font-size:30px;
    padding: 10px;
    color: #fff;
}
#banner h2 span{
    color: #ef3636;
}
#banner button:hover{
    background: #088178;
}
button.normal{
    color: #222;
    background: #088178;
    background-color: #fff;
    border-radius: 4px;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("img/banner/b17.jpg");
    width: 580px;
    height: 40vh;
     background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    background-image: url("img/banner/b10.jpg");
}
#sm-banner h4{
    font-size:20px;
    font-weight: 600;
    color: #fff;
}

#sm-banner h2{
    font-size:28px;
    font-weight: 800;
    color: #fff;
}

#sm-banner span{
    font-size:14px;
    font-weight: 500;
    color: #fff;
    padding: 15px;
}
button.white{
    background-color: transparent;
    border-radius: 4px;
    padding: 11px 18px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    border: 1px solid #cce7d0;
    outline: none;
    transition: 0.3s;
}
#sm-banner button:hover{
    background: #088178;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
     background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 30px;
}
#banner3 .banner-box2{
    background-image: url("img/banner/b4.jpg");
}
#banner3 .banner-box3{
    background-image: url("img/banner/b18.jpg");
}
#banner3 h2{
     color: #fff;
    font-size: 22px;
    font-weight: 900;
}
#banner3 h3{
     color: #ec544e;
    font-size: 15px;
    font-weight: 800;
}
#newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("img/banner/b14.png");
    flex-wrap: wrap;
    background-position: 20% 30%;
    background-color: #041e42;
    background-repeat: no-repeat;
}
#newsletter h4{
     color: #fff;
    font-size: 22px;
    font-weight: 700;
}
#newsletter p{
     color: #818ea0;
    font-size: 18px;
    font-weight: 600;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}